#!/bin/bash

trap "exit 130" SIGINT
trap "exit 137" SIGKILL
trap "exit 143" SIGTERM

set -o errexit
set -o nounset
set -o pipefail

AMUN_JSON='/etc/amun/amun.json'

register () {
    local deploy_key="${1:-}"
    local chnserver="${2:-localhost}"
    local json="${3:-amun}"
    local hostname="$(hostname -f)"
    local honeypot="amun"
    local ip="${4:-}"

    if [[ -z ${deploy_key} ]]
    then
        return 1
    fi

    curl --insecure \
         --silent \
         --request POST \
         --header "Content-Type: application/json" \
         --output ${json} \
         --data "{
      \"name\": \"${hostname}-${honeypot}\",
      \"hostname\": \"$hostname\",
      \"ip\": \"${ip}\",
      \"deploy_key\": \"$deploy_key\",
      \"honeypot\": \"$honeypot\"
    }" ${chnserver}/api/sensor/
}

setup_amun_conf () {
    local server=${1:-}
    local server_port=${2:-}
    local uid=${3:-}
    local secret=${4:-}
    local tags=${5:-}
    local debug=${6:-false}

    pushd {{ amun_dir }}/conf
    cp amun.conf amun.conf.orig

    sed -i 's/ip: 127.0.0.1/ip: 0.0.0.0/g' amun.conf
    sed -i 's/    vuln-http,/#   vuln-http,/g' amun.conf
    sed -i $'s/log_modules:/log_modules:\\\n    log-hpfeeds/g' amun.conf

    cat > log-hpfeeds.conf <<EOF
[database_hpfeeds]
server = ${server}
port = ${server_port}
identifier = ${uid}
secret = ${secret}
tags = ${tags}
debug = 0

EOF

    popd

}

main () {
    source {{ sysconfig_dir }}/amun

    if [[ ${DEBUG} == "true" ]]
    then
        set -o xtrace
    fi

    local deploy_key=${DEPLOY_KEY:-}
    local chn_server=${CHN_SERVER}
    local feeds_server=${FEEDS_SERVER:-localhost}
    local feeds_server_port=${FEEDS_SERVER_PORT:-10000}
    local json=${AMUN_JSON:-amun.json}
    local ip=${IP_ADDRESS:-}
    local tags=${TAGS:-}

    local debug=${DEBUG:-false}

    if [[ -z ${deploy_key} ]]
    then
        echo "[CRIT] - No deploy key found"
        exit 1
    fi

    # If it doesn't exist or is empty
    if [[ ! -f ${json} ]] || [[ ! -s ${json} ]]
    then
        register ${deploy_key} ${chn_server} ${json} ${ip}

        return=$?

        if [[ $return -ne 0 ]]
        then
            echo "Failed to register with ${chn_server} using key: ${deploy_key}"
            exit 1
        fi
    fi

    local uuid=$(python -c "import json;obj=json.load(file('${json}'));print obj['uuid']")

    if [ -z "$uuid" ]
    then
        echo "Could not create sensor using name \"$(hostname -f)\"."
        exit 1
    else
        echo "Created sensor: " $uuid
    fi

    local feeds_server=$(echo $feeds_server | sed 's#^http://##; s#^https://##; s#/.*$##; s/:.*$//')
    local uid=$(python -c "import json;obj=json.load(file('${json}'));print obj['identifier']")
    local secret=$(python -c "import json;obj=json.load(file('${json}'));print obj['secret']")

    setup_amun_conf ${feeds_server} \
                    ${feeds_server_port} \
                    ${uid} ${secret} \
                    "${tags}" \
                    ${debug}

    exec "{{ amun_dir }}/amun_server.py"
}

main "$@"
